<footer class="colophon">
  <div class="wrapper">
    <div class="footer_widgets" id="revue-embed">
      <div class="site_description">
        <p>
          Tem tanta coisa por aí.<br />
          A gente te ajuda a encontrar aquilo que você vai gostar.<br />
          Algo bom pra ler, ver, ouvir ou jogar.
        </p>
      </div>
    </div>

    <p class="site_credits">
      &copy; 2013—{{ "now" | date: "%Y" }}
      <a href="{{ site.url }}" rel="index">{{ site.title }}</a> ~ Os direitos
      dos textos são reservados aos respectivos autores.
    </p>
  </div>
</footer>
