<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.permalink == "/aleatorio/" %}
    <script>
      {% include random.js %}
    </script>
  {% endif %}

  {% if page.title and page.title != "" %}
    <title>{{- page.title }} ({{- site.title -}})</title>
  {% else %}
    <title>{{- site.title }} ~ {{ site.tagline -}}</title>
  {% endif %}

  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | normalize_whitespace | truncate: 160 | default: site.description }}" />

  {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url | absolute_url }}" />
  {% else %}
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
  {% endif%}
  <link rel="shortcut icon" type="image/png" href="{% link assets/images/favicon.png %}" />
  <link rel="apple-touch-icon" type="image/png" href="{% link assets/images/apple-touch-icon.png %}">
  <link rel="stylesheet" type="text/css" href="{{- '/assets/css/main.css' | relative_url -}}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} ~ RSS" href="{{ '/feed.xml' | absolute_url }}" />
  <link rel="alternate" type="application/json" title="{{ site.title }} ~ JSON" href="{{ '/feed.json' | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="Pãodecast" href="https://anchor.fm/s/2acb8e44/podcast/rss" />

  {% include opengraph.html %}
</head>
