---
---

:root {
  --base-font: system-ui;
  --font-content: "Sorts Mill Goudy", serif;
  --color-text: rgb(33, 37, 41);
  --color-brand: rgb(255,250,150);
  --color-link: rgb(214, 139, 185);
  --color-link-hover: rgb(0, 162, 133);
}

@import "site", "content";
