<header class="site_header">
  {% capture site_brand %}
    <a href="{{ '/' | relative_url }}">
      {% if site.logo %}
        <img class="site_logo" title="{{ site.title }}" src="{{ site.logo | relative_url }}" />
        {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>
  {% endcapture %}

  {% if page.title %}
    <h1 class="site_title">
      {{ site_brand }}
    </h1>
  {% else %}
    <p class="site_title">
      {{ site_brand }}
    </p>
  {% endif %}

  {% include site/menu.html %}

  {% include assets/edge.svg %}
</header>
