<!DOCTYPE html>
<html lang="{{- site.lang -}}">
  {% include head.html %}
  <body>
    <div id="site">
      {% include_cached header.html %}

      <main class="content">
        <div class="wrapper">
          <div class="blog">
            {{ content }}
          </div>

          {% unless page.layout == "page" %}
            {% include_cached sidebar.html %}
          {% endunless %}
        </div>
      </main>


      {% include_cached footer.html %}
    </div>

    <script id="site-scripts" src="{% link assets/js/scripts.js %}"></script>
    <script id="dsq-count-scr" src="//paomortadela.disqus.com/count.js" async></script>
    <script src="https://tinylytics.app/embed/J_hrrBhsyMjHxjDL9boH.js" defer></script>
    <script defer src="https://stats.arthr.dev/script.js" data-website-id="20c51d3f-0975-4339-ada2-16af58e763b4"></script>
  </body>
</html>
